.web{
    display: flex;
    flex: 1;
    align-items: center;
}

.web-options{
font-size: 20px;
margin-right: 16px;
font-weight: 700;

}
.web-options a{
    text-decoration: none;
    color:#b9b9a3;
    display: flex;
align-items: center;
}
.option-icon{
    display: flex;
    align-items: center;
    margin: 4px;
}
.option-icon:hover{
    color:#f68b1f;
}
.web-options:last-child{
    margin-right: 0px;
}